@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong>WELCOME TO PES BANK</strong></h1>
    <hr></hr>
    <p>The most reliable bank</p>
</div>

<div class=" text-left">
    <h2>About us:</h2>
    <div class="about-container">
        <div class="person">
            <h3>Petromil Sirakov</h3>
            <div class="info">
                <p>I am Petromil Draganov Sirakov, I have big goals of becoming a fully realized developer and i can only achieve these goals with hard work!</p>
            </div>
        </div>
        <div class="person">
            <h3>Enis Kasper</h3>
            <div class="info">
                <p>I am Enis Beycan Kasper, I am ambitious, motivated to work, polite, communicative, I want to become a good developer, who does his job with pleasure.</p>
            </div>
        </div>
        <div class="person">
            <h3>Stefan Stefanov</h3>
            <div class="info">
                <p>I am Stefan Georgiev Stefanov, a beginner programmer with a lot of different goals! By becoming a real programmer I want to achieve these goals and make myself known in the IT sphere.</p>
            </div>
        </div>
    </div>
